In [1]:
def multiply(myList):
    result = 1
    for x in myList:
        result = result * x
    return result
 
list1 = [2, 3, 6]

print(multiply(list1))

36

In [2]:
def last(n): 
    return n[-1]  
  
def sort_list_last(tuples):  
  return sorted(tuples, key=last)  
  
print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
d1 = {'a': 100, 'b': 200, 'c': 300}  
d2 = {'a': 300, 'b': 200, 'd':400}  
for key in d1:
    if key in d2:
        d2[key] = d1[key] + d2[key]
    else:
        d2[key]=d1[key]
print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
n = int(input("Please enter the value of n : "))
squares = {i : i*i for i in range(1, n+1)}
print(squares)

In [5]:
 list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
 def get(x):
    return float(x[1])
list.sort(key=get,reverse = True)
list

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]